{% extends 'base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load static %}
{% load paginate_tags %}

{% block own_css %}

	<link rel="stylesheet" type="text/css" href="{% static 'post/styles/postdetail.css' %}">      
{% endblock own_css %}




{% block main_content %}

	<div class="col-md-8 p-0">
		<div class="search-sort p-1 m-1">

					
			



			<div class="py-1 my-1 project-list">
				{% if projects %}
					<h5> Showing Results for <span class="tags-looklike">{{ tag }} </span></h5>
					{%  for project in projects %} 
						<article class="media content-section-main ">
							<div class="media-body border p-3">
							
								<h4 class="article-title-border pb-2">
									<a href="{% url 'project:detail-project' project.slug %}" class="article-title ">
									{{ project.title }}
									</a>
									{%  is_saved_project project.slug request.user.username as is_saved_flag %}

									{% if is_saved_flag %}
										<i class="save-project-project fa float-right fa-bookmark text-success" id="{{ project.slug }}"></i>
										
									{% else %}
										<i class="save-project-project far float-right fa-bookmark bg-white" id="{{ project.slug }}"></i>
										
									{% endif %}
								</h4>
								<small class="float-right saved-alert text-primary bg-light"></small>
								
							
								
							
								<div class="article-metadata pb-2">
									<div>
										<img src="{{ project.author.image.url }}" class="rounded-circle profile-small-image">
										<span class="search-sort__sort">
											<a href="{% url 'user:profile' project.author.slug %}"> {{ project.author }}</a>
											
										</span>
										
										<p class="text-muted float-right"> 
											{{  project.date_created|date:"jS b, Y"  }}
										</p>
									</div>
									<p><i class="fa fa-eye"></i> {{project.views }} views 
										<i class="fa fa-sign-language"></i> {{ project.likes }} appreciations
									</p>
									<p> {{ project.author.college }} </p>
									<div class="article-tags">
										{% for tag in project.tags.all %}
										<a href="{% url 'project:tag-projects' tag.slug %}" class="tags">{{ tag }} </a>
										{% endfor %}
									</div>
								</div>

								
						

								<div class="article-content text-muted">
									<p> {{ project.description|truncatechars:200 }} </p>
									
								</div>
							
								<a type="submit"  href="{% url 'project:detail-project' project.slug %}" class="btn btn-outline-info">See Full project</a>
						
							
							</div>
							
						</article>
					
					{% endfor %}
				{% else %}
					<h3>No Projects for {{ tag }}</h3>
				{% endif %}
				
			</div>



			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
				{% if projects.has_previous %}
					<li class="page-item ">
						<a class="page-link"
						 href="?page=1">First</a>
					</li>
					<li>
						<a class="page-link"
						 href="?page={{ projects.previous_page_number }}">Previous</a>
					</li>
				{% endif %}
					
				{% if projects.has_next %}
					<li class="page-item  mx-1 active">
						<a class="page-link ">{{projects.number}}</a>
					</li>

					<li>
						<a class="page-link"
						 href="?page={{ projects.next_page_number }}">Next</a>
					</li>
					
					<li class="page-item ">
						 <a class="page-link"
						 href="?page={{ projects.paginator.num_pages }}">Last</a> 
					</li>
				{% endif %}
				
				</ul>
			
			</nav>

		

		</div>
		
	</div>

{% endblock main_content %}





{% block lower_js %}
	<script type="text/javascript">
		$(document).ready(function(){
			//for saving project
			$('.save-project-project').on('click', function(){
				var slug = $(this).attr('id');
				event.preventDefault();

				$.ajax({
					type : "post",
					url  :  '/'+slug+'/True/save/',
	   				
	   				
					success: function(message){
				
						if (message=='Created'){
							var value = $('i[id='+slug+']')
							value.removeClass('far');
							value.addClass('fa text-success');
							value.parents('.article-title-border').siblings('.saved-alert').text('saved');
						}
						else{
							var value = $('i[id='+slug+']')
							value.removeClass('fa text-success');
							value.addClass('far');
						
						}

					}
	   			
				});

			});

		});

	</script>

{% endblock lower_js %}