{% extends 'base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load static %}
{% load paginate_tags %}



{% block meta %}
	<title> {{ profile }}'s folders </title>
{% endblock meta %}






{% block own_css %}

	<link rel="stylesheet" type="text/css" href="{% static 'post/styles/postdetail.css' %}">      
{% endblock own_css %}




{% block main_content %}

	<div class="col-md-8 p-0">
		<div class="search-sort p-1 m-1">

			<div class="pl-4 profile-card ">
				<img src="{{ profile.image.url }}" 
				class="rounded-circle ml-2 ml-lg-4 p-1 profile-img">
				<div class="mt-lg-5 ">
					
					<h5>{{ profile }}</h5>
					<p> {{ profile.college }}</p>

				{% if request.user.user == profile.content_object or request.user.user in profile.content_object.members.all or request.user.user == profile.content_object.admin %}
			 		<a  href="{% url 'post:create-folder' profile.slug %}" class="btn btn-secondary">Add New Folder</a>
						        	
						
					
				{% endif  %}
				
				
				</div>

			</div>

		
		
		</div>
		{% if folders %}

			<h3 class="p-3"> Folders </h3>
			{%  for folder in folders %} 
				
				<div class="folder-single-view my-1 border  bg-light">
					<button data-toggle="collapse" data-target="#list{{ forloop.counter }}" class="border-0 bg-light">
						<h6 > {{ folder }} </h6> </button>
					
					  	<a class="float-right mx-2" href="{% url 'post:folder' folder.slug %}"> <i class="fas fa-folder-open "></i>
						</a>
						<a class="float-right mx-2 d-none d-md-block" href="{% url 'post:folder' folder.slug %}"> Open Folder
						</a>
					<div id="list{{ forloop.counter }}" class="collapse bg-info p-1">
						<div class="py-1 my-1 post-list">
						
							<h6 class="text-white"> {{ folder.description }} </h6>
						
						</div>
										

					</div>


				
				</div>
			
			{% endfor %}
		{% else %}
			<h3>No Folders </h3>
		{% endif %}
		
		
	</div>

{% endblock main_content %}


{% block lower_js %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('.save-post-project').on('click', function(){
				var slug = $(this).attr('id');
				event.preventDefault();

				$.ajax({
					type : "post",
					url  :  '/'+slug+'/False/save/',
	   				
	   				
					success: function(message){
				
						if (message=='Created'){
							var value = $('i[id='+slug+']')
							value.removeClass('far');
							value.addClass('fa text-success');
							value.parents('.article-title-border').siblings('.saved-alert').text('saved');
						}
						else{
							var value = $('i[id='+slug+']')
							value.removeClass('fa text-success');
							value.addClass('far');
						
						}

					}
	   			
				});

			});

		});

	</script>

{% endblock lower_js %}