{% extends 'base.html' %}
{% load static %}
{% block own_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'user/styles/index.css' %}">

{% endblock own_css %}



{% block content_single %}
	

 	<div class="container">
 	 	<div class="row ">
 	 		<div class="col-md-10 p-0 ">
      		
				<div class=" index-motto p-3">
		 	 		<p class=" shadow-lg p-3 text-center text-white index-motto">Explore, Learn and Share</p>
		 	 		<p class=" shadow-lg p-3 text-center text-white index-motto">Bring Your Idea into Reality</p>
		 	 		
		 	 	</div>
		 	 	<div class="index-text">
		 	 		<div class="shadow-lg p-1 mb-5">
		 	 			<h5>Our initial Colleges</h5>
		 	 			<ul>
		 	 				<li> Gudlavalleru Engineering College </li>
		 	 				<li> Lakireddy Bali Reddy College of Engineering </li>
		 	 			</ul>

		 	 		</div>

		 	 		<h5>Our Team</h5>
		 	 		<div class="row shadow-lg p-1">
		 	 			<div class="col-md-6 pl-4 text-center">
		 	 				
		 	 				
							<img src="https://bylearning-media-files.s3.ap-south-1.amazonaws.com/media/bylearning_pics/ajay.jfif" class="rounded-circle ml-2 ml-lg-4 mt-4 p-1 profile-img" style="width: 200px;  height: 200px;">
							<span><p>Ajay Kumar</p></span>
							<img src="https://bylearning-media-files.s3.ap-south-1.amazonaws.com/media/bylearning_pics/hemanth.jfif" class="rounded-circle ml-2 ml-lg-4 mt-4 p-1 profile-img" style="width: 200px;  height: 200px;">
							<span><p>Hemanth</p></span>
						
		 	 			</div>
		 	 			<div class="col-md-6 pl-4 text-center">
		 	 				
		 	 				
							<img src="https://bylearning-media-files.s3.ap-south-1.amazonaws.com/media/bylearning_pics/praveen.png" class="rounded-circle ml-2 ml-lg-4 mt-4 p-1 profile-img" style="width: 200px; height: 200px;">
							<span><p>Praveen</p></span>
							<img src="https://bylearning-media-files.s3.ap-south-1.amazonaws.com/media/bylearning_pics/rajesh.jfif" class="rounded-circle ml-2 ml-lg-4 mt-4 p-1 profile-img" style="width: 200px;  height: 200px;">
							<span class="text-center"><p>Rajesh</p></span>
						
		 	 			</div>

		 	 			
		 	 		</div>
		 	 		<h5 class="mt-5"> We are thakfull to..</h5>
		 	 		<div class="shadow-lg p-3">
		 	 			
			 	 			Bringing an Idea into reality is not an very easy thing, we as developing this entire project into website have taken help of lot of friends,We(our team ) are very thankful to every  person that has helped.., especially 

		 	 			<p>
		 	 				<span class="index-text__heading font-weight-bold">Venkat Injam</span>, 
		 	 				<span class="index-text__heading font-weight-bold"> Gumma Sudheer</span>,
		 	 				<span class="index-text__heading font-weight-bold">Phaneendra Prime</span> ,
		 	 				<span class="index-text__heading font-weight-bold">Lakshmi Indrani </span>
		 	 			</p>
		 	 		</div>

		 	 		<h5 class="mt-3"> Contact Us</h5>
		 	 		<div class="shadow-lg p-3">
		 	 			<p class="index-text__heading font-weight-bold"> bylearning.official@gmail.com</p>
		 	 			<p> We appreciate any suggestions from the users, this platform is to serve Students and Teachers for better sharable content, We are waiting for your responses... </p>
		 	 		</div>
		 	 	</div>



			</div>
			
		</div>
	</div>
{% endblock content_single %}
