{% extends 'base.html' %}
{% load static %}
{% block own_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'user/styles/index.css' %}">

{% endblock own_css %}



{% block content_single %}
	<div class="index-box text-center ">
	    <p>En<span class="text-warning font-weight-bold">joy</span> the Learning </p>
	    <p>and</p>
	    <p>Learn with Fun</p>
 	</div>

 	 <div class="container">
 	 	<div class="row ">
 	 		<div class="col-md-8 p-0 ">
      		{% if banners %}
	      		<div class="project-ads p-1">
				 	<h4 class="text-white">Ongoing Projects</h4>
					{% for banner  in  banners %}

						<div class="card project-ads-card my-3" >
				    		<span class="card-header ads-header p-2">
				       			<span class=" font-weight-bold"> {{ banner.heading }} </span>
				       			<p class="float-right">{{ banner.date_created|date:"jS b, Y" }}</p>
				       			
				      		</span>
				      		<div class="card-body ">
				        		<h6 class="card-subtitle project-list mb-2">
				            	<u class="project-keys ">Description</u></h6>
				          		<p class="card-text"> {{ banner.body|truncatechars:100 }} </p>
				        		<h6 class="card-subtitle project-list mb-2">
				          		<u class="project-keys ">Skills Required </u></h6>
				           		<p> {{ banner.skills_required }}</p>
				              
				        	  	<a href="{% url 'project:banner' banner.slug %}" class="card-link">See more details</a> 
				     		</div>
				    	</div>

					{% endfor %}
				</div>
			{% else %}
				<div class=" index-motto p-3">
		 	 		<p class=" shadow-lg p-3 text-center text-white index-motto">Explore, Learn and Share</p>
		 	 		<p class=" shadow-lg p-3 text-center text-white index-motto">Bring Your Idea into Reality</p>
		 	 		
		 	 	</div>
		 	 	<div class="index-text">
		 	 		<h4>Who are We ?</h4>
		 	 		<p class="ml-4"> This platform is for students and Educators/Teachers/Professors who want to explore,learn and share knowledge  </p>
		 	 		<p class="ml-4"> We serve every individual as their blog</p>

		 	 		<h4>How this Website Works ? </h4>
		 	 		<p class="ml-4">We focus mainly as inter-nal college sharable platform , where you can write, see and explore the contents created by your friends , peers or teachers and can discuss about that topics </p>

		 	 		<h4>What We Offer?</h4>
				 	 <p class="ml-4"> 
		 	 			We offer tools to create the content that you want to share with your peers, students
		 	 			
		 	 			
		 	 		</p>

		 	 		<h4>What I Can <span class="index-text__heading">Explore</span></h4>
		 	 		<p class="ml-4"> 
		 	 			A Lot!..., you can explore Projects, Posts that were kept by your college peers or teacher or from other colleges.
		 	 		</p>
		 	 		<h4>What I Can <span class="index-text__heading">Learn</span></h4>
				 	 <p class="ml-4">
		 				You can Learn from  Posts, Tutorials from your favorite users, Pages, and Learn What ever You want
		 	 		</p>
		 	 		<h4>What I Can <span class="index-text__heading">Share</span></h4>
		 	 		<p class="ml-4">
		 				Well.., Everything, Anything that makes you think ...its, worth sharing...
		 			</p>
		 			<p class="ml-4">
		 				From very basic elementry level to building a nuclear missile DIY (DO IT YOURSELF) project... 
		 	 		</p>
		 	 		<h4> What Else We Offer?</h4>
		 	 			Want to learn more,..
		 	 			dive Deep .... into the website

		 	 	</div>
			{% endif %}

			</div>
			<div class="col-md-4 d-none d-md-block">
                
				<div class="content-section">
					
					<ul>
					
						<a href="{% url 'project:create-banner' %}" class="list-group-item  shortcuts dropdown-item text-center  ">Create Banner</a>
						
		
					</ul>
				    		
				</div>
			</div>

		</div>
	</div>
{% endblock content_single %}
