{% extends 'base.html' %}
{% load static %}
{% block own_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'user/styles/index.css' %}">

{% endblock own_css %}


{% block content_single %}
	<div class="index-box text-center ">
	    <p>En<span class="text-warning font-weight-bold">joy</span> the Learning </p>
	    <p>and</p>
	    <p>Learn with Fun</p>
 	 </div>
 	 <div class="container my-1 bg-light border col-md-8 ">
 	 	<div class=" index-motto p-3">
 	 		<p class=" shadow-lg p-3 text-center text-white index-motto">Explore, Learn and Share</p>
 	 		<p class=" shadow-lg p-3 text-center text-white index-motto">Bring Your Idea into Reality</p>
 	 		
 	 	</div>
 	 	<div class="index-text">
 	 		<h2>Who are We ?</h2>
 	 		<p class="ml-4"> This platform is for students and Educators/Teachers/Professors who want to explore,learn and share knowledge  </p>
 	 		<p class="ml-4"> We serve every individual as their blog</p>

 	 		<h2>How this Website Works ? </h2>
 	 		<p class="ml-4">We focus mainly on inter-nal and intra-nal college sharable platforms , where you can write, see and explore the contents created by your friends , peers or teachers and can discuss about that topics </p>

 	 		<h2>What We Offer?</h2>
 	 		<p class="ml-4"> 
 	 			<li>We offer tools to create the content you want to share with your peers
 	 			</li>
 	 			<li>You can learn from our college or other colleges
 	 			</li>
 	 		</p>

 	 		<h2>What I Can <span class="index-text__heading">Explore</span></h2>
 	 		<p class="ml-4"> 
 	 			A Lot!..., you can explore Projects, Posts that were kept by your college peers or teacher or from other colleges.
 	 		</p>
 	 		<h2>What I Can <span class="index-text__heading">Learn</span></h2>
 	 		<p class="ml-4">
 				You can Learn from  Posts, Tutorials from your favorite users, Pages, and Learn What ever You want
 	 		</p>
 	 		<h2>What I Can <span class="index-text__heading">Share</span></h2>
 	 		<p class="ml-4">
 				Well.., Everything, Anything that makes you think ...its, worth sharing...
 			</p>
 			<p class="ml-4">
 				From very basic elementry level to building a nuclear bomb DIY project... 
 	 		</p>
 	 		<h2> What Else We Offer?</h2>
 	 			Want to learn more,..
 	 			dive Deep here

 	 	</div>
 	 	
 	 </div>



{% endblock content_single %}