{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% load widget_tweaks %}


{% block content_single %}

<div class="container">
	<div class="col-md-6" style="margin-bottom: 100px; ">

	<h5>Create New Password </h5>
		<form method="POST" class="my-3 p-2 ">
			{% csrf_token %}
			<label for="password_1">
                <span> New Password </span>:
            </label>
            {% render_field form.new_password1 class="form-control" id="password_1" %}
             
            <label for="password_2">
                <span> Confirm New Password </span>:
            </label>
            {% render_field form.new_password2 class="form-control" id="password_2" %}
             
             {{ form.errors }}
	        
			<button class="btn btn-primary mt-4">Reset Password</button>
		</form>
	</div>
</div>

{% endblock content_single %}